@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

    @media screen and (max-width:830px) { 
      margin-left: auto;
      margin-right: auto;
      padding: 73px 0 0;
    }

    @media screen and (min-width:1600px) { 
      width: 93.75rem;
      margin-left: auto;
      margin-right: auto;
    }

}

.title { 
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35%;

    @media screen and (min-width:1440px) {
      width: 274px;
      height: 93px;
    }
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media screen and (min-width: 1600px) {
      padding-left: 64px;
    }
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg,rgba(165,215,232,0.42)0%, rgba(255,255,255,0) 100% );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;

}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.aboutItem p{
    font-size: 20px;
    margin-bottom: 1rem;
}

@media screen and (max-width:830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    .content {
        flex-direction: column;

    }

    .aboutImage {
        margin-top: 2rem;
        width: 50%;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
    }
}